{% extends "base.html" %}
{% load static %}

{% block content %}

{% if messages %}
          <ul class="messages px-0">
            {% for message in messages %}        
              <div class="alert alert-{{ message.tags }} text-white" role="alert">
                {{ message }}
              </div>
              {% endfor %}
          </ul>
{% endif %}

<div class="row">
    <div class="col">
        <div class="card mb-4">
            <div class="card-header pb-0">
                <div class="row">
                    <div class="col">
                    <h6>My Stock</h6>
                    </div>
                    <div class="col-2">

                    <a href="{% url 'product-add' %}" class="btn btn-success px-3 py-2">
                    <i class="fa fa-plus"></i> เพิ่มสินค้า</a>
                    </div>
                </div>
            </div>
            <div class="card-body px-0 pt-0 pb-2">
                <div class="table-responsive p-0">
                    <table class="table align-items-center mb-0">
                        <thead>
                            <tr>
                                <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">#</th>
                                <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">หมวดหมู่
                                </th>
                                <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">ราคา
                                </th>
                                <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">
                                    จำนวนคงเหลือ</th>
                                <th
                                    class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">
                                    เครื่องมือ</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for product in products %}
                                <tr>
                                    <td>
                                        <p class="text-xs px-4 font-weight-bold mb-0">{{ product.id }}</p>

                                    </td>
                                    <td>
                                        <div class="d-flex px-2 py-1">
                                            <div>
                                                {% if product.image_url == "" %}
                                                <img src="{% static 'assets/img/package.png' %}"
                                                    class="avatar avatar-xxl me-3" alt="user1">
                                                {% else %}  
                                                <img src="{{ product.image_url }}"
                                                    class="avatar avatar-xxl me-3" alt="user1">
                                                {% endif %}
                                            </div>
                                            <div class="d-flex flex-column justify-content-center">
                                                <h6 class="mb-0 text-sm">{{ product.name }}</h6>
                                                <p class="text-xs text-secondary mb-0">{{ product.category }}</p>
                                            </div>
                                        </div>
                                    </td>
                                    <td>
                                        <p class="text-xs font-weight-bold mb-0">{{ product.price }}</p>
                                        <p class="text-xs text-secondary mb-0">บาท</p>
                                    </td>
                                    <td>
                                        <p class="text-xs font-weight-bold mb-0">{{ product.quantity }}</p>
                                        <p class="text-xs text-secondary mb-0">ชิ้น</p>
                                    </td>
                                    <td class="align-middle">
                                        <form method="POST" action="{% url 'product-delete' product.id %}">
                                            {% csrf_token %}
                                            <input name="_method" type="hidden" value="DELETE">
                                           
                                            <a href="#" class="btn btn-outline-success px-3 py-2"><i
                                                class="fa fa-pencil"></i> แก้ไข</a>
                                            

                                            <button type="submit" class="btn btn-outline-danger px-3 py-2r btn-flat show_confirm" data-toggle="tooltip" title='Delete'><i
                                                class="fa fa-trash"></i> ลบ</button>

                                            <a href="{% url 'product-add-cart' product.id %}" class="btn btn-outline-primary px-3 py-2">
                                                <i class="fas fa-shopping-cart"></i> หยิบใส่ตะกร้า</a>
                                        
                                        </form>
                                          
                                            

                                       
                                    </td>
                                </tr>
                                {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>

            <div class="card-footer">
                
            </div>
        </div>
    </div>
    {% if carts.count > 0 %}
    <div class="col-4">
        <div class="card mb-4">
            <div class="card-header pb-0">
                <div class="row">
                    <div class="col">
                    <h6>รถเข็น ({{ carts.count }} รายการ)</h6>
                    </div>
                    <div class="col-4">

                    <a href="#" class="btn btn-danger px-3 py-2">
                    <i class="fa fa-trash"></i> ทิ้ง</a>
                    </div>
                </div>
            </div>
            <div class="card-body px-0 pt-0 pb-2">
                <div class="table-responsive p-0">
                    <table class="table align-items-center mb-0">
                        <thead>
                            <tr>
                                
                                <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">หมวดหมู่
                                </th>
                                <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">ราคา
                                </th>
                                <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">
                                    จำนวน</th>
                                <th
                                    class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">
                                    </th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for item in carts %}
                                <tr>
                                    <td>
                                        <div class="d-flex px-2 py-1">
                                            <div>
                                                {% comment %} {% if product.name == "" %}
                                                <img src="/assets/img/box.png"
                                                    class="avatar avatar-sm me-3" alt="user1">
                                                {% else %}
                                                <img src="{% product.image_url %}"
                                                    class="avatar avatar-sm me-3" alt="user1">
                                                {% endif %} {% endcomment %}
                                            </div>
                                            <div class="d-flex flex-column justify-content-center">
                                                <h6 class="mb-0 text-sm">{{ item.product.name }}</h6>
                                                <p class="text-xs text-secondary mb-0"></p>
                                            </div>
                                        </div>
                                    </td>
                                    <td>
                                        <p class="text-xs font-weight-bold mb-0">{{ item.price}}</p>
                                        <p class="text-xs text-secondary mb-0">บาท</p>
                                    </td>
                                    <td>
                                        <p class="text-xs font-weight-bold mb-0">{{ item.quantity }}</p>
                                        <p class="text-xs text-secondary mb-0">ชิ้น</p>
                                    </td>
                                    <td class="align-middle">
                                        <form method="POST" action="#">
                                            {% csrf_token %}
                                            <input name="_method" type="hidden" value="DELETE">                                          
                                            

                                            <button type="submit" class="btn btn-outline-danger px-3 py-2r btn-flat show_confirm" data-toggle="tooltip" title='Delete'><i
                                                class="fa fa-minus"></i></button>

                                            <a href="#" class="btn btn-outline-primary px-3 py-2">
                                                <i class="fas fa-plus"></i></a>
                                        
                                        </form>
                                    </td>
                                </tr>
                                {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>

            <div class="card-footer">
                <a href="{% url 'sale-add' %}" class="form-control btn btn-lg btn-success px-3 py-2">
                    <i class="fas fa-shopping-cart"></i> สั่งซื้อ</a>
            </div>
        </div>
    </div>
    {% endif %}
</div>

<script type="text/javascript">
    $('.show_confirm').click(function(event) {
        var form =  $(this).closest("form");
        var name = $(this).data("name");
        event.preventDefault();
        swal({
            title: `Are you sure you want to delete this record?`,
            text: "If you delete this, it will be gone forever.",
            icon: "warning",
            buttons: true,
            dangerMode: true,
        })
        .then((willDelete) => {
            if (willDelete) {
                form.submit();
            }
        });
    });
    </script>
{% endblock content %}

